<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); %>

<body>
<!--- loading animation -->
<%- include('../utils/loader'); %>
<!--- //loading animation -->

<!--header-->
<%- include('../partials/navbar'); %>
<!--//header-->

<!-- Results-->
<%- include('../utils/results'); %>
<!-- //Results-->

<%- include('../partials/footer'); %>

</body>


</html>