<h2>Destinations</h2>

<div class="row">
    <!--three-fourth content-->
    <div class="three-fourth">
        <div class="row deals  results">
            <nav class="breadcrumbs">
                <!--crumbs-->
                <ul>
                    <li><a title="Hotels">Previous Recommendation</a></li>
                </ul>
                <!--//crumbs-->
            </nav>
            <% plans.forEach((plan, index) => { %>
                <!--hotel-->
                <article class="one-third">
                    <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg" alt="" /></a>
                    </figure>
                    <div class="details">
                        <h3><%= plan.hotel.title %> Hotel
                            <span class="stars">
                                <% for( let index = 0; index < plan.hotel.Rating ; index++ ) { %>
                                    <i class="material-icons">&#xE838;</i>
                                <% } %>
                            </span>
                        </h3>
                        <span class="address"><%= plan.hotel.location %> </span>

                        <span class="price">Price per night from <em>$ <%= plan.hotel.Price %> </em> </span>
                        <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                    </div>
                </article>
                <!--//deal-->

                <!--restaurant-->
                <article class="one-third">
                    <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg" alt="" /></a>
                    </figure>
                    <div class="details">
                        <h3><%= plan.restaurant.title %> Restaurant
                            <span class="stars">
                                <% for( let index = 0; index < plan.restaurant.Rating ; index++ ) { %>
                                    <i class="material-icons">&#xE838;</i>
                                <% } %>
                            </span>
                        </h3>
                        <span class="address"><%= plan.restaurant.location %> </span>
                        <span class="address"><%= plan.restaurant.category %> </span>
                        <span class="price">Average price <em>$ <%= plan.restaurant.Price %> </em> </span>
                        <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                    </div>
                </article>
                <!--//deal-->

                <!--activity-->
                <article class="one-third">
                    <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg" alt="" /></a>
                    </figure>
                    <div class="details">
                        <h3><%= plan.activity.title %>
                            <span class="stars">
                                <% for( let index = 0; index < plan.activity.Rating ; index++ ) { %>
                                    <i class="material-icons">&#xE838;</i>
                                <% } %>
                            </span>
                        </h3>
                        <span class="price">Price <em>$ <%= plan.activity.Price %> </em> </span>
                        <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                    </div>
                </article>
                <!--//deal-->

                <nav class="breadcrumbs">
                    <!--crumbs-->
                    <ul>
                        <li><a title="Landmarks">Recommendation#<%= index + 1 %> </a></li>
                    </ul>
                    <!--//crumbs-->
                </nav>
                <!--deal-->

            <% }) %>

            <!--//bottom navigation-->
        </div>
    </div>
    <!--//three-fourth content-->
</div>