<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); %>

<body>
<!--- loading animation -->
<%- include('../utils/loader'); %>
<!--- //loading animation -->

<!--header-->
<%- include('../partials/navbar'); %>
<main class="main">
    <div class="wrap">
        <!--breadcrumbs-->

        <!--//breadcrumbs-->

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">

                <div class="row deals  results">
                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Hotels">Our Recommendation</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>

                    <!--hotel-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                       alt="" /></a>
                        </figure>
                        <div class="details">
                            <h3><%= bestHotel.title %> Hotel
                                <span class="stars">
                                    <% for( let index = 0; index < bestHotel.Rating ; index++ ) { %>
                                        <i class="material-icons">&#xE838;</i>
                                    <% } %>
                                </span>
                            </h3>
                            <span class="address"><%= bestHotel.location %> </span>

                            <span class="price">Price per night from <em>$ <%= bestHotel.Price %> </em> </span>
                            <% if (noHotels) { %>
                                <div class="description">
                                    <p>
                                        this might be over your price, but it is the best option available. You may want
                                        to consider
                                        adjusting your budget to fit our best options

                                </div>
                            <% } %></p>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--restaurant-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                       alt="" /></a>
                        </figure>
                        <div class="details">
                            <h3><%= bestRestaurant.title %> Restaurant
                                <span class="stars">
                                    <% for( let index = 0; index < bestRestaurant.Rating ; index++ ) { %>
                                        <i class="material-icons">&#xE838;</i>
                                    <% } %>
                                </span>
                            </h3>
                            <span class="address"><%= bestRestaurant.location %> </span>
                            <span class="address"><%= bestRestaurant.category %> </span>
                            <span class="price">Average price <em>$ <%= bestRestaurant.Price %> </em> </span>
                            <p>
                                <% if (noRestaurants) { %>
                            <div class="description">
                                this might be over your price, but it is the best option available. You may want
                                to consider
                                adjusting your budget to fit our best options
                            </div>
                            <% } %></p>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--activity-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                       alt="" /></a>
                        </figure>
                        <div class="details">
                            <h3><%= bestActivities.title %>
                                <span class="stars">
                                    <% for( let index = 0; index < bestActivities.Rating ; index++ ) { %>
                                        <i class="material-icons">&#xE838;</i>
                                    <% } %>
                                </span>
                            </h3>
                            <span class="price">Price <em>$ <%= bestActivities.Price %> </em> </span>
                            <% if (noActivities) { %>
                                <div class="description">
                                    <p>
                                        this might be over your price, but it is the best option available. You may want
                                        to consider
                                        adjusting your budget to fit our best options </p>
                                </div>
                            <% } %>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Landmarks">Other Hotels</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>
                    <!--deal-->

                    <% hotels.forEach(element => { %>
                        <% if (element != true) { %>
                            <article class="one-third">
                                <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                               alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h3><%= element.title %> Hotel

                                        <span class="stars">
                                            <% for( let index = 0; index < element.Rating ; index++ ) { %>
                                                <i class="material-icons">&#xE838;</i>
                                            <% } %>
                                        </span>
                                        <span class="address"><%= element.location %> </span>
                                    </h3>
                                    <span class="price">Price <em>$ <%= element.Price %> </em> </span>
                                    <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                                </div>
                            </article>
                        <% } %>
                    <% }) %>

                    <!--//deal-->
                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Restaurant & Cafes">Restaurant & Cafes</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>
                    <% restaurants.forEach(element => { %>
                        <% if (element != true) { %>
                            <article class="one-third">
                                <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                               alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h3><%= element.title %> Restaurant

                                        <span class="stars">
                                            <% for( let index = 0; index < element.Rating ; index++ ) { %>
                                                <i class="material-icons">&#xE838;</i>
                                            <% } %>
                                        </span>
                                        <span class="address"><%= element.location %> </span>
                                        <span class="address"><%= element.category %> </span>
                                    </h3>
                                    <span class="price">Price <em>$ <%= element.Price %> </em> </span>
                                    <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                                </div>
                            </article>
                        <% } %>
                    <% }) %>

                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Activities">Activities</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>
                    <% activities.forEach(element => { %>
                        <% if (element != true) { %>
                            <article class="one-third">
                                <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg"
                                                                               alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h3><%= element.title %>
                                        <span class="stars">
                                            <% for( let index = 0; index < element.Rating ; index++ ) { %>
                                                <i class="material-icons">&#xE838;</i>
                                            <% } %>
                                        </span>
                                    </h3>
                                    <span class="price">Price <em>$ <%= element.Price %> </em> </span>
                                    <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                                </div>
                            </article>
                        <% } %>
                    <% }) %>

                    <!--bottom navigation-->
                    <div class="bottom-nav">
                        <!--back up button-->
                        <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                        <!--//back up button-->
                    </div>
                    <!--//bottom navigation-->
                </div>
            </div>
            <!--//three-fourth content-->
        </div>
        <!--//main content-->
    </div>
    <%- include('../partials/footer'); %>
</main>
</body>

</html>